body {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #222;
}

.header {
    margin: 0;
    background-color: rgb(75, 197, 235);
    border: solid black 1px;
    width: 100%;
    height: 200px;
    position: relative;
    background: rgb(2, 119, 185);
    background: linear-gradient(90deg, rgba(2, 119, 185, 1) 51%, rgba(38, 189, 219, 1) 100%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.521);
}

.header-bar {

    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.521);
    display: flex;
    justify-content: center;
}

.header-logo1 {
    width: auto;
    height: 100px;
    width: auto;
    margin-left: 0px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin-right: 5px;
}
#menubar-container{
    margin-top: 25px;
    margin-left: 10px;

}
#menubar-container ul li {

    font-size: 25px;
    font-family: sans-serif;
    display: inline-block;
    margin-left: 28px;
    margin-bottom: 10px;
}

#menubar-container ul li a {
    text-decoration: none;
    color: white;
    
}

#menubar-container ul li:hover {
    background-color: royalblue
}

.search-container {
    width: 500px;
    height: 46px;
    box-shadow: 1px 5px rgba(75, 197, 235,0,400);
    border-radius: 0px 10px 10px  0px;
    border: none;

}

.search-display {
    display: flex;
    align-items: stretch;
    height: 48px;
    margin-top: 49px;
    margin-left: 40px;
    box-shadow: 1px 5px rgba(75, 197, 235,0,400);
    border: none;

}

.search-display ul li {
    background-color: white;
    padding-top: 10px;
    display: inline;

}

.search-displaycont {
    background-color: white;
    border-radius: 10px 0px 0px 10px ;
    margin-left: 10px;
    border: none;
    
    
}

.todo-site ul {
    padding: 10px;
    margin-left: 10px;
    margin: 0;

}